env: "development"
ports:
  http: "9090"
enable_introspection: "true"
onesignal:
  api_key: ""
  app_id: ""
cockroach:
  host: "localhost:26257"
  database: "dbname"
  username: "root"
  password: ""
  sslmode: "disable"
  max_idle_conns: 2
  conn_max_lifetime: 3600000
  ping_interval: 5000
nats_js:
  host: "nats://localhost:4222"
  retry_on_failed_connect: true
  max_reconnect: -1
  reconnect_wait: "1s"
  retry_attempts: 5
  retry_interval: "2s"
  subscribe_retry_attempts: 5
  subscribe_retry_interval: "2s"
  stream_max_age: "24h"
  stream_max_messages: "100000"
